@import "../../styles/variables.scss";

.animated-section {
  padding: 100px 20px;
  text-align: center;
  background: linear-gradient(
    to right,
    #fff8f0,
    #ffe7ef
  );

  h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color: $maroon;
  }

  p {
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
    color: #555;
  }
}

@media(max-width:768px) {
  .animated-section {
    h2 {
      font-size: 32px;
    }
  }
}